.colour-change {
    animation:colour-blink 1s infinite;
}

@keyframes colour-blink {
    100% {
      background-color: #0d6efd;
    }
    100% {
      background-color: #ffc107;
    }
  }

.colour-change1 {
  animation:colour-blink1 1s infinite;
}

@keyframes colour-blink1 {
  100% {
    background-color: #0d6efd;
  }
  100% {
    background-color: #dc3545;
  }
}

.colour-change2 {
  animation:colour-blink2 1s infinite;
}

@keyframes colour-blink2 {
  100% {
    color: #202020;
  }
  100% {
    color: #ffc107;
  }
}

.colour-change3 {
  animation:colour-blink3 1s infinite;
}

@keyframes colour-blink3 {
  100% {
    color: #202020;
  }
  100% {
    color: #dc3545;
  }
}