//$primary: #0a77dd;
//$primary:  #29920f;
// $warning: #fcda1e;
// $red: #f55f5f;
//$primary: #dc5ff5;
//$green: #91d380;

$warning: #ffc107;
$meaning: #d0dff7;
$offcanvas-horizontal-width: 1100px;
$offcanvas-vertical-height: 100vh;

/* styles.css */
.textarea-pre-wrap {
    white-space: pre-wrap;
  }