//$primary: #0a77dd;
//$primary:  #29920f;
// $warning: #fcda1e;
// $red: #f55f5f;
//$primary: #dc5ff5;
//$green: #91d380;

$warning: #ffc107;
$meaning: #0d6efd;
$offcanvas-horizontal-width: 900px;
$offcanvas-vertical-height: 100vh;